# /etc/systemd/system/demo.service
[Unit]
Description=demo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/my-app

[Install]
WantedBy=multi-user.target