# /etc/systemd/system/demo.service
[Unit]
Description=demo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/my-app


# Environment=MY_APP_LISTEN_PORT={{ my_app_listening_port }}

[Install]
WantedBy=multi-user.target